{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="clearfix">
            {% if user.is_authenticated %}
                <a class="btn btn-default edit" href="{% url 'post_edit' id=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            {% endif %}
        </div>

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|safe|linebreaksbr}}</p>
    </div>
{% endblock %}

{% block sidebar %}
    <ul>
    {% for post in post_list %}
        <li><a href="{% url 'post_detail' id=post.pk %}">{{ post.title }}</a> </li>
    {% endfor %}
    </ul>
{% endblock %}